# Ignore the .env file
.env
# Ignore all files in the .venv directory
env/

# Ignore the __pycache__ directory
__pycache__/

# Ignore the .DS_Store file
.DS_Store

# Ignore the static and media directories
static/
media/

# Ignore the .cursorrules file
.cursorrules